// background colors

$bg-color-white: white;
$bg-color-white-300: #f8f9fa;
$bg-color-blue: #007bff;
$bg-color-blue-hover: #005eff;

//media

$phone_max-width: 480px;
$tablet_max-width: 768px;
$tablet_min-width: 481px;

//images

$bg-image-header: "../images/bg-masthead.jpg";

//font

$font-color-white: white;
$font-color-blue: #007bff;
$font-color-black: black;
$font-color-blue-hover: #005eff;

//pictures

$pic-footer-top-bg: "../images/bg-masthead.jpg";

//media

$phone_max-width: 480px;
$tablet_max-width: 768px;
$tablet_min-width: 480px;
